<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header'); %>
    <div id="main">
      <h1><%- title %></h1>
      <p><%- content %></p>
      <img
        src="/images/pexels-oday-774936370-21937870.jpg"
        alt="cat photo"
        width="400"
        height="300"
      />
      <div>
        <a href="/download" class="button">Download</a>
      </div>
    </div>
    <%- include('footer'); %>
  </body>
</html>
