<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header'); %>
    <main>
      <h1><%- title %></h1>
      <div class="image-container">
        <img
          src="<%= imgSrc %>"
          alt="cat photo"
          width="400"
          height="400"
          class="image"
        />
      </div>
      <p><%- content %></p>
      <div class="button-container">
        <a href="/download/pexels-oday-774936370-21937870.jpg" class="button"
          >Download It</a
        >
      </div>
    </main>
    <%- include('footer'); %>
  </body>
</html>
